.autocomplete-dropdown-container {
    position: absolute;
    top: 70%;
    background-color: white;
    box-shadow:  -1px -1px 10px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    max-width: 300px;
    min-width: 300px;
    border-radius: 8px;
}


.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}


.horizontal-slider{
  background-color: #d5d5d5;
  width: 30%;
  height: 3px;
  margin-top: 20px;
}

.horizontal-slider .track-1 {
  background-color: #275efe;
}

.horizontal-slider .thumb {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -9px;
  border: 1px solid #275efe;
  cursor: grab;
}

